*{
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Capriola&family=Meow+Script&display=swap');


:root {
    --primary-color: #41210A;
    --secondary-color: #613915;
    --tertiary-color: #A77D53;
    
    --accent-color: #D8C7AB;
    --background: #383231;

    --primary-text-color: #333333;
    --secondary-text-color: #ffffff;

    /* 
    #41210A
    #613915
    #A77D53
    #D8C7AB 
    */

}

body{
    font-family: Arial, sans-serif;
    /* background-color: var(--primary-color); */
    background-image: linear-gradient(to top left, var(--primary-color), var(--secondary-color), var(--tertiary-color)) ;
    color: #333;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-image: url('../img/header.jpeg');
    background-position: center;
    background-size: cover;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.384);
    color: var(--primary-color);
    height: 80dvh;
}

h1{
    font-family: "Meow Script", cursive;
    font-size: 2.5rem;
    color: var(--primary-color);
}

header>h1, header>nav{
    background-color: var(--accent-color);
    border: 1px solid var(--primary-color);
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

nav ul{
    list-style: none;
    padding: 0;
}

nav ul li{
    display: inline;
    margin: 0 10px;
}

nav ul li a{
    color: var(--primary-color);
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
}

a:hover{
    text-decoration: underline;
    background-color: var(--primary-text-color);
    color: var(--secondary-text-color);
    padding: 5px;
    border-radius: 5px;
}

section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    color: var(--secondary-text-color);
    border: 1px solid var(--primary-color);
}

#inicio{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    background-image: linear-gradient(to right, rgba(0, 0, 0, .8) 20%, var(--primary-color)80%);
    color: var(--secondary-text-color);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    min-height: 60dvh;
}

.inicio-img{
    width: 35%;
    height: 50%;
    object-fit: cover;
    border-radius: 10px 0 0 10px;
    display: block;
}

.inicio-texto{
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    box-shadow: -20px 1px 40px rgba(0, 0, 0, 1);
}

.inicio-texto p{
    width: 60%;
    color: var(--secondary-text-color);
}

#produtos{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
    background-position: center;
    background-size: cover;
}

#produtos>h1, #produtos>p{
    background-color: var(--primary-color);
    color: var(--secondary-text-color);
    padding: 10px;
    border-radius: 10px;
    margin: 40px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);

}

#produtos>div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 20px;
}

#produtos>div img{
    width: 30%;
    height: auto;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

#depoimentos>p{
    background-color: var(--accent-color);
    color: var(--primary-color);
    padding: 40px;
    border-radius: 10px;
}

#compromisso{
    background-image: url('../img/img3.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 50vh;
}

#compromisso>h2, #compromisso>p{
    text-align: center;
    font-family: "Capriola", sans-serif;
    background-color: var(--primary-color);
    color: var(--secondary-text-color);
    border-radius: 20px;
    padding: 20px;
}

h2{
    align-self: center;
    font-family: "Meow Script", cursive;
    color: var(--secondary-text-color);
    margin: 20px;
}

p{
    text-align: center;
    color: var(--secondary-text-color);
    margin: 10px 20px;
    line-height: 1.5;
}

footer{
    text-align: center;
    background: var(--primary-color);
    color: var(--secondary-text-color);
    padding: 10px 0;
}

footer p{
    margin: 5px;
}

footer a{
    color: var(--secondary-text-color);
    text-decoration: none;
}