*{
    margin: 0;
    padding: 0;
}



body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    width: 100dvw;
}

header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 60dvh;
    width: 100dvw;
    background: #35424a;
    color: #ffffff;
    padding: 10px 0;
}

nav ul{
    list-style: none;
    padding: 0;
}

nav ul li{
    display: inline;
    margin: 0 10px;
}

nav ul li a{
    color: #ffffff;
    text-decoration: none;
}

section{
    margin: 20px 0;
    padding: 20px;
    height: 50dvh;
    background: #ffffff;
    border: 1px solid #dddddd;
}

footer{
    background: #35424a;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
}
